body{
    background-color: rgb(255, 234, 199);
    color: rgb(68, 42, 0);
    font-family: 'Architects Daughter', cursive;


}

h1{
    background-color: rgb(70, 42, 0);
    color: rgb(255, 228, 188);
}

#showSketch{
    float: right;
}

canvas{
    border: 5px rgb(70, 42, 0) dashed;
    border-radius: 25px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px rgb(255, 228, 188);}
    to{box-shadow: 1px 1px 38px rgb(70, 42, 0);}
}

p{
    padding-top: 10px;
    font-size: 20px;
    color: rgb(70, 42, 0);
}

#Score{
    float: left;
    font-weight: bold;
}

#time{
    float: right;
    font-weight: bold;
}